@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

main {
  /* padding-top: 80px; */ /* 이 줄을 제거하여 불필요한 상단 여백을 없앱니다. */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}
